<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit User</title>
</head>
<body>
    <div align="center">
        <h1>Edit User</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${user}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>             
                    <td>User ID:</td>
                    <td>
                        <input type="text" th:field="*{id}" readonly="readonly" />
                    </td>
                </tr>        
                <tr>             
                    <td>Email:</td>
                    <td>
                        <input type="text" th:field="*{email}" />
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="text" th:field="*{password}" /></td>
                </tr>
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" th:field="*{first_name}" /></td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td><input type="text" th:field="*{last_name}" /></td>
                </tr>    
                <tr>
                    <td>Address:</td>
                    <td><input type="text" th:field="*{address}" /></td>
                </tr>                        
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>